.list {
    @apply mt-2 space-y-4;
}

.container {
    @apply w-full max-w-2xl space-y-4 pt-24 pb-8 px-4 mx-auto;
}

.company {
    @apply p-4 text-sm text-base w-full transition-colors duration-150 border border-gray-300 rounded-md shadow-sm bg-white;
}

.logo {
    @apply text-center;
}

.result {
    @apply cursor-pointer;
    animation: fadein 0.5s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.feResult {
    composes: result;
    @apply max-h-20 overflow-hidden;
}

.title {
    @apply text-lg underline truncate;
}

.smallTitle {
    @apply uppercase tracking-wide text-xs font-black;
}

.credit {
    @apply block mt-3 py-1 px-3 bg-blue-500 rounded-md text-lg font-semibold text-gray-100;
}
